*{
    height: 0;
    width: 0;
    box-sizing: content-box;
}

.bowl{
    height: 215px;
    width: 438px;
    border: 4px solid black;
    border-radius: 0 0 164px 161px;
    background-color: rgb(211 37 37);
    position: relative;
    top: 310px;
    left: 332px;
    z-index: 90;
    box-shadow:  20px 20px 10px  black;
}

.apple {
    width: 250px;
    height: 250px;
    background-image: url(./apple.jpg-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 399px;
    bottom: 63px;
    z-index: 80;
}

.grapes {
    width: 170px;
    height: 239px;
    background-image: url(./grapes-removebg-preview.png);
    background-size: cover;
    position: relative;
    bottom: 648px;
    left: 450px;
    z-index: 50;
}


.orange {
    width: 155px;
    height: 150px;
    background-image: url(./fruit-1218158_1280.png);
    background-size: cover;
    position: relative;
    top: -788px;
    left: 366px;
    z-index: 20;
    mix-blend-mode: multiply;
}

.strawberry {
    width: 225px;
    height: 190px;
    background-image: url(./strawberry-removebg-preview.png);
    background-size: cover;
    position: relative;
    bottom: 950px;
    left: 561px;
}
.banana{
    width: 287px;
    height: 287px;
    background-image: url(./banana-5331574_1280.png);
    background-size: cover;
    position: relative;
    left: 510px;
    bottom: 374px;
    
}