*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article{
    width: 500px;
    height: 500px;
    border: 1px solid;
    display: flex;


}
.box1{
    width: 120px;
    width: 120px;
    border: 1px solid;
    background-color: aqua;
}
.box1{
    width: 120px;
    width: 120px;
}
.sq1{
    width: 120px;
    width: 120px;
}
.sq1{
    width: 120px;
    width: 120px;
}
.sq1{
    width: 120px;
    width: 120px;
}
.sq1{
    width: 120px;
    width: 120px;
}
.sq1{
    width: 120px;
    width: 120px;
}
.sq1{
    width: 120px;
    width: 120px;
}
.sq1{
    width: 120px;
    width: 120px;
    align-self: ;
    flex-wrap: ;
}
